<div class="container">
    <div class="d-flex align-items-center">
        <ul class="nav flex-column nav-tabs me-3 text-center col-2 border-0" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">
            <li class="nav-link active border-0" id="v-pills-home-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                aria-selected="true">Cá nhân</li>
            <li class="nav-link border-0"><button type="button" class="btn" id="liveToastBtn">Bài
                    viết</button></li>
            <li class="nav-link border-0"><button type="button" class="btn" id="liveToastBtn2">Cài
                    đặt</button></li>
        </ul>
        <div class="tab-content col-10 text-center" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <form class="p-3 mt-3 row" action="/me/edit" method="POST" enctype="multipart/form-data">
                    <div class="mx-auto text-center">
                        <img src="/images/{{user.image}}" class="rounded-circle profile-pic upload-button"
                            style="cursor: pointer; width: 140px; display:block; margin: 4px auto;">
                        <div>
                            <span class="text-muted"><em>ấn vào ảnh trên để đổi ảnh đại diện.</em></span>
                        </div>
                        <div class="d-none">
                            <input accept="image/png, image/jpeg, image/jpg" type="file" class="file-upload" id="image"
                                name="image" multiple>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group text-start mb-2">
                        <label for="username"><strong>Tên hiển thị</strong></label>
                        <input type="text" id="username" value="{{user.username}}"
                            class="form-control text-capitalize rounded-pill" name="username">
                    </div>
                    <div class="form-group text-start mb-2">
                        <label for="date"><strong>Sinh nhật</strong></label>
                        <input type="date" id="date" value="{{date}}" class="form-control rounded-pill" name="date">
                    </div>
                    <div class="form-group text-start mb-2">
                        <label for="sex"><strong>Giới tính</strong></label>
                        <select name="sex" id="sex" class="form-select rounded-pill">
                            {{#select user.sex}}
                            <option value="0">Không xác định</option>
                            <option value="1">Nam</option>
                            <option value="2">Nữ</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="form-group text-start mb-2">
                        <label for="bio"><strong>Giới thiệu ngắn</strong></label>
                        <textarea id="bio" name="bio" class="form-control rounded-3" rows="3">{{user.bio}}</textarea>
                    </div>
                    <div class="form-group text-start mb-2">
                        <label for="email"><strong>Email</strong></label>
                        <input type="email" id="email" value="{{user.email}}" class="form-control rounded-pill"
                            name="email">
                    </div>
                    <div class="text-end">
                        <button class="btn btn-primary" type="submit">Cập nhật</button>
                    </div>
                </form>
            </div>
            {{!-- <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                cài đặt
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                Bài viết</div> --}}
        </div>
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body">
                    Dev chưa phát triển tính năng này.
                    <button type="button" class="btn-close me-2" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        $("#liveToastBtn, #liveToastBtn2").click(function () {
            $('#liveToast').toast({ delay: 3000 });
            $('#liveToast').toast("show");
        });
        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.profile-pic').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $(".file-upload").on('change', function () {
            readURL(this);
        });
        $(".upload-button").on('click', function () {
            $(".file-upload").click();
        });
    });
</script>