<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>VOTE NGAY</button>
            <ul>
                <li> <%= uni.name %> </li>
            </ul>
        </div>

        <div class="col-lg-9">
            <h2> <%= uni.address %> </h2>
            <h2> <%= uni.phone %> </h2>
            <h2> <%= uni.level %> </h2>
            <p><%= uni.discripsion %></p>
        </div>
    </div>
</div>