<div id="work_single_banner" class="bg-light w-100" style="background-image: url(/images/{{getFirstItem uni.image}});">
  <div class="container-fluid text-white d-flex justify-content-center align-items-center border-0 rounded-0 p-0 py-5">
    <div class="banner-content col-lg-8 m-lg-auto text-center py-5 px-3" ;>
      <h1 class="banner-heading h2 pb-5 typo-space-line-center">{{capitalize uni.name}}</<h1>
      </h1>
      <h3 class="h4 pb-2 light-300"><i class='bx-fw bx bxs-map bx-sm' style='color:#4232c2'></i>{{uni.address}}</h3>
    </div>
  </div>
</div>

<section class="container py-5">
  <div class="row pt-5">
    <div class="worksingle-content col-lg-8 m-auto text-left justify-content-center">
      <h2 class="worksingle-heading h3 pb-3 light-300 typo-space-line">{{capitalize uni.name}}</h2>
      <h5 class="accordion-title plain active text-primary py-1" style="background-color: rgba(0,0,0,.03);">
        <i class='bx bxs-star' style='color:#4232c2'></i>
        Mô tả
      </h5>
      <p class="worksingle-footer py-3 text-muted light-300">
        {{uni.description}}
      </p>
    </div>
  </div>

  <div class="row justify-content-center pb-4">
    <div class="col-lg-8">
      <div id="templatemo-slide-link-target" class="card mb-3">
        <img class="img-fluid border rounded" src="/images/{{getFirstItem uni.image}}" alt="Card image cap">
      </div>
      <div class="worksingle-slide-footer row">
        <div class="col-1 align-self-center">
          <a href="#multi-item-example" role="button" data-bs-slide="prev">
            <i class='bx bxs-chevron-left bx-sm text-dark'></i>
          </a>
        </div>
        <div id="multi-item-example" class="col-10 carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="row">
                <div class="col">
                  <a class="templatemo-slide-link" href="/images/{{getFirstItem uni.image}}">
                    <img class="img-fluid border rounded" src="/images/{{getFirstItem uni.image}}" alt="{{uni.name}}">
                  </a>
                </div>
                <div class="col">
                  <a class="templatemo-slide-link" href="/images/{{getFirstItem uni.image}}">
                    <img class="img-fluid border rounded" src="/images/{{getFirstItem uni.image}}" alt="{{uni.name}}">
                  </a>
                </div>
                <div class="col">
                  <a class="templatemo-slide-link" href="/images/{{getFirstItem uni.image}}">
                    <img class="img-fluid border rounded" src="/images/{{getFirstItem uni.image}}" alt="{{uni.name}}">
                  </a>
                </div>
                <div class="col">
                  <a class="templatemo-slide-link" href="/images/{{getFirstItem uni.image}}">
                    <img class="img-fluid border rounded" src="/images/{{getFirstItem uni.image}}" alt="{{uni.name}}">
                  </a>
                </div>
                <div class="col">
                  <a class="templatemo-slide-link" href="/images/{{getFirstItem uni.image}}">
                    <img class="img-fluid border rounded" src="/images/{{getFirstItem uni.image}}" alt="{{uni.name}}">
                  </a>
                </div>
              </div>
            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item">
              <div class="row">
                <div class="col">
                  <a class="templatemo-slide-link" href="/images/{{getFirstItem uni.image}}">
                    <img class="img-fluid border rounded" src="/images/{{getFirstItem uni.image}}" alt="{{uni.name}}">
                  </a>
                </div>
                <div class="col">
                  <a class="templatemo-slide-link" href="/images/{{getFirstItem uni.image}}">
                    <img class="img-fluid border rounded" src="/images/{{getFirstItem uni.image}}" alt="{{uni.name}}">
                  </a>
                </div>
                <div class="col">
                  <a class="templatemo-slide-link" href="/images/{{getFirstItem uni.image}}">
                    <img class="img-fluid border rounded" src="/images/{{getFirstItem uni.image}}" alt="{{uni.name}}">
                  </a>
                </div>
                <div class="col">
                  <a class="templatemo-slide-link" href="/images/{{getFirstItem uni.image}}">
                    <img class="img-fluid border rounded" src="/images/{{getFirstItem uni.image}}" alt="{{uni.name}}">
                  </a>
                </div>
                <div class="col">
                  <a class="templatemo-slide-link" href="/images/{{getFirstItem uni.image}}">
                    <img class="img-fluid border rounded" src="/images/{{getFirstItem uni.image}}" alt="{{uni.name}}">
                  </a>
                </div>
              </div>
            </div>
            <!--/.Second slide-->

            <!--Second slide-->
            <div class="carousel-item">
              <div class="row">
                <div class="col">
                  <a class="templatemo-slide-link" href="/images/{{getFirstItem uni.image}}">
                    <img class="img-fluid border rounded" src="/images/{{getFirstItem uni.image}}" alt="{{uni.name}}">
                  </a>
                </div>
                <div class="col">
                  <a class="templatemo-slide-link" href="/images/{{getFirstItem uni.image}}">
                    <img class="img-fluid border rounded" src="/images/{{getFirstItem uni.image}}" alt="{{uni.name}}">
                  </a>
                </div>
                <div class="col">
                  <a class="templatemo-slide-link" href="/images/{{getFirstItem uni.image}}">
                    <img class="img-fluid border rounded" src="/images/{{getFirstItem uni.image}}" alt="{{uni.name}}">
                  </a>
                </div>
                <div class="col">
                  <a class="templatemo-slide-link" href="/images/{{getFirstItem uni.image}}">
                    <img class="img-fluid border rounded" src="/images/{{getFirstItem uni.image}}" alt="{{uni.name}}">
                  </a>
                </div>
                <div class="col">
                  <a class="templatemo-slide-link" href="/images/{{getFirstItem uni.image}}">
                    <img class="img-fluid border rounded" src="/images/{{getFirstItem uni.image}}" alt="{{uni.name}}">
                  </a>
                </div>
              </div>
            </div>
            <!--/.Second slide-->

          </div>
          <!--End Slides-->
        </div>
        <!--End Carousel Wrapper-->

        <!--Start Controls-->
        <div class="col-1 align-self-center text-end">
          <a href="#multi-item-example" role="button" data-bs-slide="next">
            <i class='bx bxs-chevron-right bx-sm text-dark'></i>
          </a>
        </div>
        <!--End Controls-->

      </div>
    </div>
  </div><!-- End Slider -->

  <div class="row">
    <div class="col-md-8 m-auto text-left justify-content-center">
      <h5 class="accordion-title plain active text-primary py-1" style="background-color: rgba(0,0,0,.03);">
        <i class='bx bxs-star' style='color:#4232c2'></i>
        Thông tin
      </h5>
      <p class="text-muted light-300">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class='bx-fw bx bx-phone bx-sm' style='color:#555'></i>: <a
            href="tel:{{uni.phone}}" class="text-decoration-none" rel="noopener" target="_blank">{{uni.phone}}</a></li>
        <li class="list-group-item"><i class='bx-fw bx bx-envelope bx-sm' style='color:#555'></i>: <a
            href="mailto:{{uni.email}}" class="text-decoration-none" rel="noopener" target="_blank">{{uni.email}}</a></li>
        <li class="list-group-item"><i class='bx-fw bx bx-link bx-sm' style='color:#555'></i>: <a href="{{uni.website}}"
            class="text-decoration-none" rel="noopener" target="_blank">{{uni.website}}</a></li>
        <li class="list-group-item"><i class='bx-fw bx bxl-facebook-circle bx-sm' style='color:#555555'></i>: <a
            href="{{uni.facebook}}" class="text-decoration-none" rel="noopener" target="_blank">{{uni.facebook}}</a></li>
      </ul>
      </p>
    </div>
  </div><!-- End Paragrph -->


  <div class="row">
    <div class="col-md-8 m-auto text-left justify-content-center">
      <h5 class="accordion-title plain active text-primary py-1" style="background-color: rgba(0,0,0,.03);">
        <i class='bx bxs-star' style='color:#4232c2'></i>
        {{capitalize uni.name}}
      </h5>
    </div>
  </div><!-- End Qute -->

  <div class="row justify-content-center">
    <div class="col-lg-8 ml-auto mr-auto pt-3 pb-4">
      <p class="text-muted light-300">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Trình độ: {{uni.level}}</li>
        <li class="list-group-item">Code: </i><strong>{{uni.code}}</strong></li>
        <li class="list-group-item">Học phí: ~{{uni.tuision}}/năm</li>
      </ul>
      </p>
    </div>
  </div>
  <!-- End Work Sigle -->

  <!-- Start Comment -->
  <div class="row justify-content-center">
    <div class="worksingle-comment-heading col-8 m-auto pb-3">
      <h4 class="h5">Bình luận</h4>
    </div>
  </div>

  <div class="row pb-4">
    <div class="worksingle-comment-body col-md-8 m-auto">
      <div class="d-flex">
        <div>
          <img class="rounded-circle" src="/images/{{getFirstItem uni.image}}" style="width: 50px; height: 50px">
        </div>
        <div class="comment-body w-100">
          <div class="comment-header d-flex justify-content-between ms-3">
            <div class="header text-start">
              <h5 class="h6">{{capitalize uni.name}}</h5>
              <p class="text-muted light-300">10 mins ago</p>
            </div>
            <a href="#" class="text-decoration-none"><i class='bx-fw bx bxs-message-alt-error bx-sm'
                style='color:#555555'></i></i>Báo cáo</a>
          </div>
            <div class="card-body ms-3 light-300 pt-0">
              ABC
            </div>
        </div>
      </div>
    </div>
  </div><!-- End Comment -->
  <div class="row pb-4">
    <div class="worksingle-comment-footer col-lg-8 m-auto">
      <form class="col-md-12 m-auto" method="POST" action="#" role="form">
        <div class="form-group">
          <label class="pb-2 pt-sm-0 pt-4 light-300" for="inputmessage">Thêm bình luận</label>
          <textarea class="form-control form-control-lg light-300" id="inputmessage" name="inputmessage"
            placeholder="nội dung..." rows="5"></textarea>
        </div>

        <div class="form-row pt-2">
          <div class="col-md-12 col-10 text-end">
            <button type="submit" class="btn btn-secondary text-white px-md-4 px-2 py-md-3 py-1 radius-0 light-300">Bình
              luận</button>
          </div>
        </div>
      </form>
    </div>
  </div><!-- End Comment Form -->
</section>
<!-- End Work Sigle -->

<!-- Start Related Post -->
<article class="container-fluid bg-light">
  <div class="container">
    <div class="worksingle-related-header row">
      <h1 class="h2 py-5">Bài viết khác</h1>
      <div class="col-md-12 text-left justify-content-center">
        <div class="row gy-5 g-lg-5 mb-4">
          <div class="col-md-4 mb-3">
            <a href="./{{uni.slug}}" class="recent-work card border-0 shadow-lg overflow-hidden">
              <img class="recent-work-img card-img" src="/images/{{getFirstItem uni.image}}" alt="Card image" />
              <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                  <h3 class="card-title light-300">
                    {{uni.name}}
                  </h3>
                  <p class="card-text block text-truncate" style="max-width: 350px;">
                    {{uni.description}}
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
</article>
<script src="/javascripts/jquery.min.js"></script>
<script>
  $(window).load(function () {
    // Slide
    $('.templatemo-slide-link').click(function () {
      var this_href = $(this).attr('href');
      $('#templatemo-slide-link-target img').attr('src', this_href);
      return false;
    });
    // End Slide
  });
</script>